.center-text {
    text-align: center;
}
.title {
    margin: 30px;
    font-size: 40px;
}

.content {
    padding: 0px 10px;
}

.content div{
    padding: 5px 0px;
}


.products {
    width: 90%;
    margin: auto;
    color: #F4ECEC;
}

.product {
    min-width: 100px;
    word-wrap: break-word;
    background: #414041;
    margin: 20px;
    padding: 10px;
    min-height: 420px;
    scale: 1;
    transition: 200ms;
}

.product:hover {
    scale: 1.05;
}

.product-button button {
    cursor: pointer;
    border: 0;
    background: #006FFF;
    padding: 10px;
    color: #F4ECEC;
}

.space {
    justify-content: space-between;
}

.img img{
    width: 100%;
}

.stars img {
    width: 90%;
}

.stars {
    width: 30%;
    max-width: 150px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.green {
    font-size: 15px;
    margin-left: 5px;
    color: green;
}


@media screen and (max-width: 1350px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .content div{
        padding: 5px 0px;
    }
}